#Ignore everything
*
#Except
!scripts
!scripts/nv.sh
!setup.sh
!.gitignore
!.vimrc
!.zshrc
!.tmux.conf.local
!.p10k.zsh
!init.vim
!README.md
!coc-settings.json
!init.lua
!theme.lua
!plugins.lua
#!lua/*/
!*/
!init.lua
!vim.lua
